<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="<%= drama.newDramaName %> Telegram Channel | Full Drama All Episodes with English Subtitles | JOIN THE CHANNEL NOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download <%= drama.newDramaName %> Free On Telegram With English Subtitles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%- include('./partials/style.ejs'); %>
        <%- include('../Global/nav-style.ejs'); %>
        <style>
            .main-title {
                width: 98%;
                background-color: black;
                padding: 12px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                margin: 12px auto;
                text-align: center;
            }

            .main-title h1 {
                color: white;
                font-size: 24px;
                font-weight: bold;
            }
        </style>
</head>

<body>
    <%- include('../Global/navhtml.ejs'); %>

    <div class="main-title">
        <h1 class="title" itemprop="name" style="font-size: 20px;">
           Download <%= drama.newDramaName %> | Full K-drama on Telegram with English Subtitles
        </h1>
    </div>
        <div class="ads adsterra250">
            <script type="text/javascript">
                atOptions = {
                    'key': '6c89ef113e8ce37b4357824ebcfc4a66',
                    'format': 'iframe',
                    'height': 250,
                    'width': 300,
                    'params': {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/6c89ef113e8ce37b4357824ebcfc4a66/invoke.js"></scr' + 'ipt>');
            </script>
        </div>

        <div class="ads adsterra50">
            <script type="text/javascript">
                atOptions = {
                    'key': '633eff634a6fe0ef8a4a150bd8980782',
                    'format': 'iframe',
                    'height': 50,
                    'width': 320,
                    'params': {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/633eff634a6fe0ef8a4a150bd8980782/invoke.js"></scr' + 'ipt>');
            </script>
        </div>

        <div class="schema" itemscope itemtype="https://schema.org/TVSeries">
            <div class="dramaCont">
                <div class="pic-and-desc">
                    <div class="img">
                        <img src="<%= drama.coverUrl %> " alt="<%= drama.newDramaName %> " itemprop="image">
                    </div>
                    <div class="maelezo">
                        <ul>
                            <li><b>Drama:</b>
                                <%= drama.newDramaName %>
                            </li>
                            <li><b>Episodes: </b>
                                <span itemprop="numberOfEpisodes">
                                    <%= drama.noOfEpisodes %>
                                </span>
                            </li>
                            <li><b>Genre: </b>
                                <span itemprop="">
                                    <%= drama.genre %>
                                </span>
                            </li>
                            <li><b>Subtitles: </b>English</li>
                            <li><b>Status:</b>
                                <%= drama.status %>
                            </li>
                            <li><b>Aired: </b>
                                <span itemprop="startDate">
                                    <%= drama.aired %>
                                </span>
                            </li>
                            <li itemprop="countryOfOrigin"><b>Country: </b>
                                <span itemprop="countryOfOrigin">
                                    South Korea
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="synopsis" itemprop="about">
                <span>Synopsis</span>
                <%- drama.synopsis %>
            </div>
        </div>

        <div class="telegram">
            <span class="title">
                Download All Episodes On Telegram <i class="fa-brands fa-telegram"></i>
            </span>
            <div class="dp">
            </div>

            <span class="official">
                ✔ Official - <%= drama.newDramaName %> <br>
                    <sub>(All episodes on Telegram)</sub>
            </span>
            <span class="btn">
                <button onclick="redirecting()">
                    JOIN THE CHANNEL <i class="fa-brands fa-telegram"></i>
                </button>
                <sub>⚠ Click above to join <%= drama.newDramaName %> channel </sub>
            </span>
        </div>
        <div class="ads adsterra250">
            <script type="text/javascript">
                atOptions = {
                    'key': '6c89ef113e8ce37b4357824ebcfc4a66',
                    'format': 'iframe',
                    'height': 250,
                    'width': 300,
                    'params': {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/6c89ef113e8ce37b4357824ebcfc4a66/invoke.js"></scr' + 'ipt>');
            </script>
        </div>

        <hr>

        <div class="most">
            <div class="header">
                <span class="title">Most 50 Downloaded Drama 🔥</span>
                <span id="date" class="date">

                </span>
            </div>
            <ul class="list-group">
                <% popular.forEach(drama=> { %>
                    <li onclick="window.open('/<%= drama.id %>', '_self')"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <%= drama.newDramaName %>
                            <span class="badge bg-primary rounded-pill"><i class="fa-solid fa-download"></i>
                                <%= drama.timesLoaded %>
                            </span>
                    </li>
                    <% }) %>
            </ul>
        </div>

        <section class="indexed">
            📃 All Indexed Drama (All Years)
        </section>
        <div class="yracc">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            📺 2022 Drama (A-Z)
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <% drama2022.forEach(drama=> { %>
                                    <li class="list-group-item">
                                        <a href="<%= drama.path %>">
                                            <%= drama.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            📺 2021 Drama (A-Z)
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <% drama2021.forEach(drama=> { %>
                                    <li class="list-group-item">
                                        <a href="<%= drama.path %>">
                                            <%= drama.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            📺 2020 Drama (A-Z)
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <% drama2020.forEach(drama=> { %>
                                    <li class="list-group-item">
                                        <a href="<%= drama.path %>">
                                            <%= drama.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            📺 2019 Drama (A-Z)
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <% drama2019.forEach(drama=> { %>
                                    <li class="list-group-item">
                                        <a href="<%= drama.path %>">
                                            <%= drama.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            📺 2018 Drama (A-Z)
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <% drama2018.forEach(drama=> { %>
                                    <li class="list-group-item">
                                        <a href="<%= drama.path %>">
                                            <%= drama.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            📺 2017 Drama (A-Z)
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <% drama2017.forEach(drama=> { %>
                                    <li class="list-group-item">
                                        <a href="<%= drama.path %>">
                                            <%= drama.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven" aria-expanded="false"
                            aria-controls="flush-collapseSeven">
                            📺 2016 Drama (A-Z)
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <% drama2016.forEach(drama=> { %>
                                    <li class="list-group-item">
                                        <a href="<%= drama.path %>">
                                            <%= drama.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEight" aria-expanded="false"
                            aria-controls="flush-collapseEight">
                            📺 2015 & Older Drama (A-Z)
                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <% drama2015.forEach(drama=> { %>
                                    <li class="list-group-item">
                                        <a href="<%= drama.path %>">
                                            <%= drama.name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <span>
                Korean Drama Store
            </span>
            <span class="a" onclick="window.open('tg://join?invite=mTx_t-6TBx9hNTc8', '_self')">
                <i class="fa-brands fa-telegram"></i> Join Us Telegram
            </span>
            <span id="dated">
            </span>
        </footer>

        <%- include('./partials/script.ejs'); %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

            <!-- Propellar Vignette banner -->
            <script>(function (d, z, s) { s.src = '//' + d + '/401/' + z; try { (document.body || document.documentElement).appendChild(s) } catch (e) { } })('glizauvo.net', 4963015, document.createElement('script'))</script>

            <!-- adskeeper mobile-top-down -->
            <div id="M797576ScriptRootC1337589">
            </div>
            <script src="https://jsc.adskeeper.co.uk/d/r/dramastore.net.1337589.js" async>
            </script>
</body>

</html>