<table class="table table-striped caption-top" style="background-color: white;">
    <caption>
      <span class="cap">Top 100 dramastore <b>Koreaboo 😍</b></span>
      <span class="desc">Koreaboo = <i>someone who is obsessed with K-dramas or k-pop.</i></span>
    </caption>
    <thead style="font-size: 11px;">
      <tr>
        <th scope="col" class="centerall">#</th>
        <th scope="col">Name</th>
        <th scope="col" class="centerall">Pts</th>
        <th scope="col" class="centerall">Dwnld</th>
        <th scope="col" class="centerall">Last activity</th>
      </tr>
    </thead>
    <tbody style="font-size: 10px;">
      <% ranks.forEach((user, index)=> { %>
      <tr>
        <th scope="row" class="centerall">
          <% if (user.fname=='@shemdoe' ) { %>
          <span class="admin">Admin</span>
          <% } else { %>
          <%= index + 1 %>
          <% } %>
        </th>
        <td>
          <% if (user.fname.startsWith('@') ) { %>
          <a href="https://t.me/<%= user.fname.replace('@', '') %>" target="_blank">
            <%= user.fname.substring(0,12) %>
            <i class="fa-brands fa-telegram"></i>
          </a>
          <% } else { %>
          <%= user.fname.substring(0, 16) %>
          <% } %>
        </td>
        <td class="centerall">
          <%= user.points.toLocaleString('en-US') %>
        </td>
        <td class="centerall">
          <%= user.downloaded.toLocaleString('en-US') %>
        </td>
        <td class="centerall">
          <%= user.updatedAt %>
        </td>
        <% }) %>
      </tr>
    </tbody>
  </table>