<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Dramas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%- include('./partials/style.ejs'); %>
    <%- include('../Global/nav-style.ejs'); %>
    <%- include('../Global/ads/style.ejs'); %>
</head>

<body>
    <%- include('../Global/navhtml.ejs'); %>

    <div class="searchBoxCont">
        <input type="text" id="searchBox" oninput="filtering()" placeholder="ðŸ” search drama here . . .">
        <div class="allDrama">
            <ul id="ulAllDrama">
                <% allDrama.forEach(drama=> { %>
                <li class="liDrama" onclick="window.open('<%= drama.path %>', '_self')">
                    <%= drama.name %>
                </li>
                <% }) %>
                <li id="notf" onclick="window.open('tg://resolve?domain=shemdoe', '_self')">Not find it...
                    request here</li>
            </ul>
        </div>
    </div>

    <div id="d2024" class="most d2024">
        <div class="header">
            <span class="title">2024 Dramas</span>
            <a href="#d2023" class="jump">Go 2023 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2024.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2023" class="most d2023">
        <div class="header">
            <span class="title">2023 Dramas</span>
            <span class="updown">
                <a href="#d2024" class="jump up">Up 2024 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
                <a href="#d2022" class="jump">Go 2022 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
            </span>

        </div>
        <ol class="list-group list-group-numbered">
            <% drama2023.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2022" class="most d2022">
        <div class="header">
            <span class="title">2022 Dramas</span>
            <span class="updown">
                <a href="#d2023" class="jump up">Up 2023 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
                <a href="#d2021" class="jump">Go 2021 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
            </span>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2022.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2021" class="most d2021">
        <div class="header">
            <span class="title">2021 Dramas</span>
            <span class="updown">
                <a href="#d2022" class="jump up">Up 2022 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
                <a href="#d2020" class="jump">Go 2020 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
            </span>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2021.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2020" class="most d2020">
        <div class="header">
            <span class="title">2020 Dramas</span>
            <span class="updown">
                <a href="#d2021" class="jump up">Up 2021 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
                <a href="#d2019" class="jump">Go 2019 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
            </span>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2020.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2019" class="most d2019">
        <div class="header">
            <span class="title">2019 Dramas</span>
            <span class="updown">
                <a href="#d2020" class="jump up">Up 2020 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
                <a href="#d2018" class="jump">Go 2018 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
            </span>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2019.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2018" class="most d2018">
        <div class="header">
            <span class="title">2018 Dramas</span>
            <span class="updown">
                <a href="#d2019" class="jump up">Up 2019 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
                <a href="#d2017" class="jump">Go 2017 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
            </span>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2018.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2017" class="most d2017">
        <div class="header">
            <span class="title">2017 Dramas</span>
            <span class="updown">
                <a href="#d2018" class="jump up">Up 2018 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
                <a href="#d2016" class="jump">Go 2016 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
            </span>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2017.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2016" class="most d2016">
        <div class="header">
            <span class="title">2016 Dramas</span>
            <span class="updown">
                <a href="#d2017" class="jump up">Up 2017 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
                <a href="#d2015" class="jump">Go 2015 &nbsp; <i class="fa-solid fa-angles-down"></i></a>
            </span>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2016.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>

    <div id="d2015" class="most d2015">
        <div class="header">
            <span class="title">2015 & Older Dramas</span>
            <span class="updown">
                <a href="#d2016" class="jump up">Up 2016 &nbsp; <i class="fa-solid fa-angles-up"></i></a>
            </span>
        </div>
        <ol class="list-group list-group-numbered">
            <% drama2015.forEach(drama=> { %>
            <li onclick="window.open('<%= drama.path %>', '_self')" class="list-group-item">
                <%= drama.name %>
            </li>
            <% }) %>
        </ol>
    </div>



    <footer>
        <span>
            Korean Drama Store
        </span>
        <span class="a" onclick="window.open('tg://join?invite=mTx_t-6TBx9hNTc8', '_self')">
            <i class="fa-brands fa-telegram"></i> Join Us Telegram
        </span>
        <span id="dated">
        </span>
    </footer>


    <%- include('./partials/script.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <%- include('../Global/ads/vignette.ejs'); %>
</body>

</html>