<table class="table table-striped caption-top">
  <caption>
    <span class="cap">Top &nbsp; 200 &nbsp; dramastore &nbsp; <b>Koreaboo 😍</b></span>
    <span class="desc">Koreaboo = <i>someone who is obsessed with K-dramas or k-pop.</i></span>
</caption>
  <thead style="font-size: 14px;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
      <th scope="col">Downloads</th>
      <th scope="col">Last activity</th>
    </tr>
  </thead>
  <tbody style="font-size: 12px;">
    <% ranks.forEach((user, index)=> { %>
      <tr>
        <th scope="row">
          <%= index + 1 %>
        </th>
        <td>
          <% if (user.userId == 1473393723) { %>
            <%= user.fname.substring(0, 20) %> <span class="admin">Admin</span>
          <% } %>
          <% if(user.userId != 1473393723) { %> 
            <%= user.fname.substring(0, 16) %>
          <% } %> 
        </td>
        <td>
          <%= user.points.toLocaleString('en-US') %>
        </td>
        <td>
          <%= user.downloaded.toLocaleString('en-US') %>
        </td>
        <td>
          <%= user.updatedAt %>
        </td>
        <% }) %>
      </tr>
  </tbody>
</table>